<%- include('header') -%>
    <title>Document</title>
  </head>
  <body>
    <%- include('sidebar'); -%>
    <script src="js/script.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
