<%- include('header') -%>
    <title>“三个敬畏”主题学习活动</title>
  </head>
  <body>
    <div class="page-container">
      <h1 class="page-title">“三个敬畏”主题学习活动</h1>
      <div class="page-content">
        <div class="content-img">
          <img src="images/doc1/pic1.png" alt="" />
          <img src="images/doc1/pic2.png" alt="" />
        </div>
        <p>
          4月14日，在民航局召开的4月民航安全运行形势分析会上，民航局局长冯正霖表示，要大力弘扬和践行当代民航精神，以“敬畏生命、敬畏规章、敬畏职责”为内核，切实增强敬畏意识，深入推进作风建设，不断提升专业素养，全力确保民航安全运行平稳可控，为取得疫情防控阻击战的最终胜利贡献力量。
          为深入贯彻落实民航局党组部署，响应共青团中国民航大学委员会要求，中欧学院团委组团员青年深入学习领会，增强敬畏意识，希望广大民航青年牢记初心使命，强化责任担当，切实提升专业素养与综合能力，为确保民航安全运行平稳可控、打赢“防疫”阻击战的全面胜利贡献青春智慧和力量。
        </p>
        <h6>知敬畏</h6>
        <p>
          敬畏是人对待事物的一种态度。常怀敬畏之心的人，才能成为一个君子。敬畏是自律的开端，也是行为的界限。有了敬畏，才能有无穷的精神力量，当灾难突如其来的时候，就有能力与之抗衡；有了敬畏，才能有孜孜不倦的学习态度，在应对突发情况的时候，就能自信自如，更有把握；有了敬畏，才能有良好的职业操守，在关键时刻，就能坚守责任，勇于担当。我会把对生命、规章、职责的敬畏融入到每一天的工作中，做一名践行当代民航精神的青春代言人。
        </p>
        <div class="content-img">
          <img src="images/doc1/pic3.png" alt="" />
        </div>

        <h2>敬畏什么？</h2>
        <h6>敬畏生命</h6>
        <p>
          要敬畏生命，努力克服侥幸心理和变通思维。全体民航人要把敬畏生命作为履行岗位职责的思想基础，肩负起保护旅客生命的责任自觉，强化担当。
          敬畏生命体现了民航业的价值追求，是党的根本宗旨和民航业内在要求的高度统一，在全行业提倡开展作风建设，也是为了通过培育优良的作风，进一步提升民航安全运行水平，使旅客生命安全得到更好的保护
        </p>
        <div class="content-img">
          <img src="images/doc1/pic4.png" alt="" />
          <img src="images/doc1/pic5.png" alt="" />
        </div>

        <h3>敬畏规章</h3>
        <p>
          要敬畏规章，严肃惩戒违章和失信行为。要充分认识和深刻理解规章条文背后的原理、逻辑，充分了解其制定背景和意义、针对的可能风险，并深刻理解和融会贯通，才能做到更加自觉、规范、在不违反规章的前提下举一反三，能够更加自信自如、更有把握的应对突发情况；要严肃惩戒触犯规章底线、诚信红线的行为，令其付出代价，绝不允许不诚信的人员在行业内立足。
          敬畏规章体现了民航业的运行规律，是安全理论与实践经验的高度统一，要通过深化作风建设，努力把规章外在的强制要求转化为员工内在的自我约束，真正做到按章操作、按手册运行，真正做到规章执行令行禁止
        </p>
        <div class="content-img">
          <img src="images/doc1/pic6.png" alt="" />
          <img src="images/doc1/pic7.png" alt="" />
        </div>

        <h3>敬畏职责</h3>
        <p>
          要敬畏职责，做到岗位责任和专业能力的高度统一。民航人要对自己的岗位职责高度认同，在关键时刻绝不放弃责任，自觉按照岗位要求提升专业能力，自觉抛弃不适应岗位职责的不良习惯。
          敬畏职责体现了民航人的职业操守，是岗位责任和专业能力的高度统一，民航人要对自己的岗位职责高度认同，在关键时刻绝不放弃责任，自觉按照岗位要求提升专业能力，自觉抛弃不适应岗位职责的不良习惯。
        </p>
        <div class="content-img">
          <img src="images/doc1/pic8.png" alt="" />
          <img src="images/doc1/pic9.png" alt="" />
        </div>

        <h2>榜样的力量</h2>
        <p>
          去年热映的电影《中国机长》，不知道大家有没有看过呢？
          这是一部根据真实事件改编的电影：2018年5月14日四川航空3U8633航班机组执行航班任务时，在万米高空突遇驾驶舱风挡玻璃爆裂脱落、座舱释压的极端罕见险情，生死关头，他们临危不乱、果断应对、正确处置，确保了机上全部人员的生命安全，创造了世界民航史上的奇迹。
        </p>
        <p>
          川航3U8633航班机组被授予“中国民航英雄机组”称号，刘传健同志被授予“中国民航英雄机长”称号。
        </p>
        <div class="content-img">
          <img src="images/doc1/pic10.png" alt="" />
        </div>

        <p>
          《中国机长》为了重现这历史性的一幕，在许多内容和细节的创作上，极大程度地还原了当惊险发生时的真实状况。
          在电影最后，机长说的三句话：<em>敬畏生命、敬畏职责、敬畏规章</em>，同时也值得我们思考和学习。
        </p>
        <div class="content-img">
          <img src="images/doc1/pic11.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
