<%- include('header') -%>
    <title>地面信息系统OMMS(H5)培训</title>
  </head>
  <body>
    <button class="ppt-btn-l"><</button>
    <button class="ppt-btn-r">></button>
    <div class="ppt-container">
      <img class="ppt-img" src="/images/OMMSH5/OMMS_01.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_02.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_03.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_04.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_05.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_06.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_07.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_08.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_09.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_10.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_11.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_12.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_13.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_14.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_15.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_16.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_17.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_18.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_19.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_20.jpg" alt="" />
      <img class="ppt-img" src="/images/OMMSH5/OMMS_21.jpg" alt="" />
    </div>
    <script src="js/ppt.js"></script>
  </body>
</html>
