<%- include('header') -%>
<%- include('timer')-%>
    <title>主页</title>
  </head>
  <body>
    <%- include('sidebar') -%>
    <div class="index1"><img src="images/timetable.png" alt=""></div>
    <div class="index2"><img src="images/to-do-list.png" alt=""></div>
    <div class="index3"><img src="images/file.png" alt=""></div>
    <div class="index4"><img src="images/dashboard.png" alt=""></div>
    <a href="/doc1"></a>
    <script src="js/script.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
