<%- include('header') -%>
    <title>云文档</title>
  </head>
  <body>
    <%- include('sidebar'); -%>
    <h1 class="docs-title">云文档</h1>
    <hr class="title-line" />
    <div class="doc-search">
      <i class="fas fa-search icon"></i>&nbsp;&nbsp;<input
        class="doc-search-input"
        type="text"
      />
    </div>
    <div class="doc-container">
      <ul class="doc-ul">
        <li><a href="/doc1">文档demo</a></li>
      </ul>
    </div>

    <script src="js/script.js"></script>
    <script src="js/index.js"></script>
    <script src="js/page.js"></script>
  </body>
</html>
