<div class="accLog">
  <img src="images/thumbs-up.png" alt="" />
  <p class="font-1">历史登录时长：</p>
  <p><%= logTotalTime %></p>
  <p class="font-1">本次登录时长：</p>
  <p class="curTime">0小时0分0秒</p>
  <p class="font-1">总共登录计次：</p>
  <p><%= logCounts %></p>
</div>
