<%- include('header') -%>
    <title>工作台</title>
  </head>
  <body>
    <%- include('sidebar'); -%>

    <button class="run_cmd">进入本地cmd</button>
    <script src="js/script.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
