/* NAV-BAR */

.side_bar {
  position: fixed;
  width: 80px;
  height: 100%;
  background-color: rgba(250, 250, 250);
}

.nav_section {
  position: absolute;
  top: 100px;
  padding-left: 0;
  margin-left: 30px;
}

.nav_icon_row {
  position: relative;
  margin-top: 30px;
  color: rgba(128, 131, 148, 0.6);
  font-size: 1.5rem;
}

.nav_icon_row:hover {
  color: rgba(128, 131, 148, 1);
}

.nav_item_tip {
  position: absolute;
  top: 0;
  left: 30px;
  width: 80px;
  height: 30px;
  font-size: 1rem;
  color: rgba(128, 131, 148, 1);
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  /* border: black 1px solid; */
  border-radius: 5px;
  background-color: rgba(128, 131, 148, 0.3);
  z-index: 100;
}

/* SIDEBAR USER CARD */

.user_logo {
  position: absolute;
  top: 15px;
  left: 15px;
  /* left: 100px; */
  width: 50px;
  height: 50px;
  border: 2px solid rgb(217, 221, 215);
  border-radius: 50%;
  background-color: rgba(217, 221, 215, 0.8);
  /* background-color: #fff; */
  text-align: center;
  line-height: 50px;
}

.timer {
  position: relative;
  left: 80%;
  width: 300px;
  height: 50px;
  background-color: rgba(250, 250, 250);
  border-radius: 20px;
  color: rgba(128, 131, 148, 1);
}

/* Doc Page Style */

.doc-container {
  position: relative;
  top: 150px;
  left: 100px;
  width: 90%;
  height: 1000px;
  z-index: 0;
}

.doc-search {
  position: absolute;
  top: 100px;
  left: 140px;
}

.doc-search-input {
  border: none;
}

.doc-ul li {
  position: relative;
  height: 4em;
  line-height: 4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.doc-icon {
  color: rgb(81, 107, 235);
}

.docs-title {
  position: absolute;
  top: 10px;
  left: 100px;
}

.doc-date {
  position: absolute;
  right: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

.title-line {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -1;
}

.page-container {
  position: relative;
  margin: 10px auto;
  width: 90%;
  height: 90%;
}

.page-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.page-content {
  position: absolute;
  top: 100px;
}

.page-content p {
  text-indent: 2em;
}

.content-img {
  text-align: center;
}

.content-img img {
  width: 50%;
}

/* Workbench */

.run_cmd {
  position: relative;
  left: 100px;
}

/* PPT */

.ppt-container {
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.ppt-img {
  position: absolute;
  width: 100%;
  transition: transform 1s;
}

.ppt-btn-l {
  position: absolute;
  top: 350px;
  left: 50px;
  width: 2em;
  height: 2em;
  color: white;
  font-size: 2em;
  background-color: #008cba;
  opacity: 0.8;
  border: none;
  border-radius: 50%;
  z-index: 10;
}

.ppt-btn-r {
  position: absolute;
  top: 350px;
  right: 50px;
  width: 2em;
  height: 2em;
  color: white;
  font-size: 2em;
  background-color: #008cba;
  opacity: 0.8;
  border: none;
  border-radius: 50%;
  z-index: 10;
}

/* Affair */

.affair-table {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 90%;
  background-color: white;
  z-index: -1;
}

.affair-table th {
  background-color: rgba(217, 221, 215, 0.8);
  font-weight: 600;
  padding: 20px;
}

.add-affair-btn {
  position: absolute;
  top: 100px;
  left: 100px;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 221, 215, 0.8);
  border: none;
}

.affair-info-sheet {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -60%);
  width: 500px;
  height: 300px;
  background-color: rgba(217, 221, 215);
  z-index: 2;
}

.edit {
  background-color: rgba(217, 221, 215, 0.8);
  color: rgba(0, 0, 0, 0.4);
  border: none;
}
